// PROJECT SCSS VARIABLES
// not all of these are available as css custom properties by default: they can be added @ styles/global.scss

// GRID: defaults to 12 columns with 30px gap as $gutter;
// grid gap
$gutter: 30px;

// grid columns
$grid-column-count: 12;

// <Container> - spacing either side of content; used in @container mixin
$container-gutter-min: 20px;
$container-gutter: 70px;

// vertical spacing between <Section>s. used to compute percentage-based values via @section mixin
$section-padding: 140px;
$section-padding-mobile: 90px;

// point at which container reaches width limit (unless fluid=true), and responsive font-sizes max-out
$page-width: 1500px;

// mq for page full-width
$page-limit: $page-width + ($container-gutter * 2);
$viewport-container-gutter: max(
  var(--container-gutter),
  calc((100vw - #{$page-width} - var(--scrollbar-width)) * 0.5)
);

// MISC ELEMENT DIMENSIONS
$header-height: 90px;
$header-height-mobile: 60px;

// Global STACK of elements
$zindex-header: 100;
$zindex-modal: $zindex-header + 1;

// COLORS - these are also available as :root css variables in global.scss

// theme
$color-primary: #297;
$color-secondary: #f5f5f5;
$color-backdrop: rgba(#000, 0.3);
$color-background: #fff;
$color-border: #ddd;
$color-font: #202020;
$color-font-contrast: #fff;
$color-link: $color-primary;
$color-placeholder: #ddd;

// optional dark mode variables
// $color-background-dark-mode: #000;
// $color-font-dark-mode: $color-font-contrast;
// $color-link-dark-mode: $color-font-dark-mode;

// TYPE (default is a locally-hosted set up)

// font-sizes
$font-size: 20px;
$font-size-min: 18px;

$font-size-sm: 18px;
$font-size-sm-min: 16px;

$font-size-xs: 16px;
$font-size-xs-min: 15px;

// used in heading mixins (styles/type)
$h1-size: 60px;
$h1-size-min: 40px;
$h2-size: 40px;
$h2-size-min: 32px;
$h3-size: 32px;
$h3-size-min: 26px;
$h4-size: 26px;
$h4-size-min: 22px;
$h5-size: 22px;
$h5-size-min: 20px;
$h6-size: $font-size;
$h6-size-min: $font-size-min;

$line-height: 1.5;

// element lists (for genetic style loops)
/* stylelint-disable-next-line prettier/prettier */
$input-types: date, datetime-local, email, month, number, password, search, tel, text,
  time, url, week;
$heading-types: h1, h2, h3, h4, h5, h6;
$block-article-elements: p, ul, ol, dl, blockquote, pre;

// form elements
$button-height: 60px;
$button-width: 220px;
$button-max-width: 300px;
$input-height: $button-height;

// ANIMATION [power1, 2, 3, 4] in gsap;
// ease-in
$ease-in-quad: cubic-bezier(0.11, 0, 0.5, 0);
$ease-in-cubic: cubic-bezier(0.32, 0, 0.67, 0);
$ease-in-quart: cubic-bezier(0.5, 0, 0.75, 0);
$ease-in-quint: cubic-bezier(0.64, 0, 0.78, 0);

// ease-out
$ease-out-quad: cubic-bezier(0.5, 1, 0.89, 1);
$ease-out-cubic: cubic-bezier(0.33, 1, 0.68, 1);
$ease-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
$ease-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

// ease-in-out
$ease-in-out-quad: cubic-bezier(0.45, 0, 0.55, 1);
$ease-in-out-cubic: cubic-bezier(0.65, 0, 0.35, 1);
$ease-in-out-quart: cubic-bezier(0.76, 0, 0.24, 1);
$ease-in-out-quint: cubic-bezier(0.83, 0, 0.17, 1);

$default-ease: $ease-in-out-cubic;
$transition-duration: 300ms;
